# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo

# ===============================
# Ambientes virtuais
# ===============================
venv/
.venv/
env/

# ===============================
# Pyenv
# ===============================
.python-version

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Jupyter (se usar futuramente)
# ===============================
.ipynb_checkpoints/

# ===============================
# Arquivos gerados (Folium / Plotly)
# ===============================
*.html

# ===============================
# Arquivos temporários / sistema
# ===============================
.DS_Store
Thumbs.db
*.log

# ===============================
# Cache / builds
# ===============================
.build/
dist/
*.egg-info/